<nav class="sidebar sidebar-sticky">
	<div class="sidebar-content">

		<%= link_to root_path, class: "sidebar-brand" do %>
      <p class="align-middle text-center">
	      <%= image_tag "logo.svg", size: "75x75", class: "rounded rounded-circle", alt: "logo" %>
			</p>
		<% end %>

		<ul class="sidebar-nav">
			<% if user_signed_in? %>
			<li class="sidebar-item">
				<%= link_to destroy_user_session_path, method: :delete, class: "sidebar-link" do %>
					<span class="align-middle">
						Log Out
					</span>
				<% end %>
			</li>
			<% elsif admin_signed_in? %>
			<li class="sidebar-item">
				<%= link_to destroy_admin_session_path, method: :delete, class: "sidebar-link" do %>
					<span class="align-middle">
						Log Out
					</span>
				<% end %>
			</li>
			<li class="sidebar-item">
		    <%= link_to administration_items_path, class: "sidebar-link" do %>
          <span class="align-middle">
          	Manage Items
          </span>
				<% end %>
			</li>
			<% else %>
			<li class="sidebar-item">
				<%= link_to new_admin_session_path, class: "sidebar-link" do %>
					<span class="align-middle">
						Log In as Admin
					</span>
				<% end %>
			</li>
			<li class="sidebar-item">
				<%= link_to new_user_session_path, class: "sidebar-link" do %>
					<span class="align-middle">
						Log In as User
					</span>
				<% end %>
			</li>
			<% end %>
		</ul>

	</div>
</nav>
